@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infiniteScroll 25s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}